<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
        <span><a routerLink='/products/create'>
                <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
        </span>
    </div>
</div>
<p *ngIf='!products'>Loading...</p>
<table *ngIf='products' class="table table-striped">
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Part #</th>
            <th>Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Photo Path</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products | sort:sortCriteria:sortOrder">
            <td>{{p.vendor.name}}</td>
            <td>{{p.partNumber}}</td>
            <td>{{p.name}}</td>
            <td>${{p.price}}</td>
            <td>{{p.unit}}</td>
            <td>{{p.photoPath}}</td>
            <td><a routerLink='/products/detail/{{p.id}}'><img src='assets/details.png' width='20' height='20'
                        title='Detail'> </a>
                |
                <a routerLink='/products/edit/{{p.id}}'><img src='assets/pencil-icon.png' width='20' height='20'
                        title='Edit'></a>
            </td>
        </tr>
    </tbody>
</table>