<app-menu></app-menu>
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span> | <a routerLink="/products/list">Return to list...</a></span>
    </section>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>
                    Vendor:
                </td>
                <td>
                    <input [(ngModel)]="product.vendor.name" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Part Number:
                </td>
                <td>
                    <input [(ngModel)]="product.partNumber" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input [(ngModel)]="product.name" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Price:
                </td>
                <td>
                    <input [(ngModel)]="product.price" class="rounded" type="number" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Unit:
                </td>
                <td>
                    <input [(ngModel)]="product.unit" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Photo Path:
                </td>
                <td>
                    <input [(ngModel)]="product.photoPath" class="rounded" type="text" disabled>
                </td>
            </tr>
        </table>
    </main>
    <span>
        <span><a routerLink="/products/edit/{{product.id}}" class="btn btn-sm btn-warning" *ngIf="isAdmin==true">Edit</a></span>
        <span> | <button (click)="delete()" class="btn btn-sm btn-danger" *ngIf="isAdmin==true">Delete</button></span>
    </span>
</div>