<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
    </div>
</div>
<p *ngIf='!request'>Loading...</p>
<div *ngIf='request'>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <input [(ngModel)]="request.description" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Delivery Mode:
                </td>
                <td>
                    <input [(ngModel)]="request.deliveryMode" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Justification:
                </td>
                <td>
                    <input [(ngModel)]="request.justification" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Date Needed:
                </td>
                <td>
                    <input [(ngModel)]="request.dateNeeded" class="rounded" type="date">
                </td>
            </tr>
        </table>
    </main>
    <span><button (click)="save()" class="btn btn-sm btn-primary">Save</button></span>
</div>