<app-menu></app-menu>
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span> | <a routerLink="/products/list">Return to list...</a></span>
    </section>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <input [(ngModel)]="request.description" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Justification
                </td>
                <td>
                    <input [(ngModel)]="request.justification" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Date Needed
                </td>
                <td>
                    <input [(ngModel)]="request.dateNeeded" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Delivery Mode
                </td>
                <td>
                    <input [(ngModel)]="request.deliveryMode" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Status
                </td>
                <td>
                    <input [(ngModel)]="request.status" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Total
                </td>
                <td>
                    <input [(ngModel)]="request.total" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Submitted Date
                </td>
                <td>
                    <input [(ngModel)]="request.submittedDate" class="rounded" type="text" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    Reason For Rejection
                </td>
                <td>
                    <input [(ngModel)]="request.reasonForRejection" class="rounded" type="text" disabled>
                </td>
            </tr>
        </table>
    </main>
    <span>
        <span><a routerLink="/requests/edit/{{request.id}}" class="btn btn-sm btn-warning"
                *ngIf="isAdmin==true">Edit</a></span>
        <span> &nbsp; <button (click)="delete()" class="btn btn-sm btn-danger"
                *ngIf="isAdmin || request.user.id==loggedInUser.id">Delete</button></span>
    </span>
</div>