<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
    </div>
</div>
<p *ngIf='!product'>Loading...</p>
<div *ngIf='product'>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>
                    Vendor:
                </td>
                <td>
                    <select [(ngModel)]="product.vendor" class="rounded" type="text">
                        <option *ngFor='let v of vendors' [ngValue]='v'>{{v.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Part Number:
                </td>
                <td>
                    <input [(ngModel)]="product.partNumber" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input [(ngModel)]="product.name" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Price:
                </td>
                <td>
                    <input [(ngModel)]="product.price" class="rounded" type="number">
                </td>
            </tr>
            <tr>
                <td>
                    Unit:
                </td>
                <td>
                    <input [(ngModel)]="product.unit" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Photo Path:
                </td>
                <td>
                    <input [(ngModel)]="product.photoPath" class="rounded" type="text">
                </td>
            </tr>

        </table>
    </main>
    <span><button (click)="save()" class="btn btn-sm btn-primary">Save</button></span>
</div>